doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  // Styles
  link(rel="stylesheet" href="css/manifest.css" type='text/css')
  <!-- inject:css -->
  <!-- endinject -->

body

  div.wrapper
    div.fix
      include ../blocks/header/header
      block content
      include ../blocks/footer/footer

  script(src="js/vendor.js")
  script(src="js/application.js")
  script(src="js/fonts.js")
  <!-- inject:js -->
  <!-- endinject -->