extends layout/main
block content

  include blocks/navigation/navigation

  div.content-block
    include blocks/category-grid


  div.content-block

    div.content-title
      h2.content-title-text New Products

    include blocks/preview/category-list

  div.content-block

    div.content-title
      h2.content-title-text Featured Products

    include blocks/preview/product-list

  div.content-block

    div.content-title
      h2.content-title-text Who We Are

    include blocks/about

  div.content-sep