.search-holder
  display: block
  width: 670px
  margin-bottom: 5px
  padding: 51px 55px 48px 57px
  background: #f0626e
  box-sizing: border-box

.search-form
  display: flex
  width: 100%

.search-form-input
  display: block
  width: 100%
  max-width: 484px
  padding: 23px 29px 23px 27px
  font-size: rem(16)
  font-family: $lato-regular
  line-height: lh(18, 16)
  letter-spacing: ls(80)
  color: #424242
  box-sizing: border-box
  +placeholder(#424242, 16px)

.search-form-button
  position: relative
  display: block
  width: 72px
  height: 72px
  background: #f0626e

  &:after
    position: absolute
    top: 50%
    left: 20px
    transform: translateY(-50%) scale(-1, 1)
    +fa-sprite($fa-var-search,#fff,58)