.header-action-list
  display: block
  margin: 0 -15px 10px
  +clear

.header-action-item
  float: left
  padding: 0 14px

  &:hover

    .header-action-link
      color: #05aecc


.header-action-link
  display: block
  font-size: rem(16)
  font-family: $lato-regular
  line-height: lh(18, 16)
  letter-spacing: ls(90)
  color: rgb(67, 67, 67)
  transition: color .3s ease
