.copyright
  display: flex
  justify-content: space-between
  width: 100%
  padding: 25px 0 25px 30px
  box-sizing: border-box

.copyright-box
  display: block

.copyright-text
  font-size: rem(14)
  font-family: $lato-regular
  line-height: lh(16, 14)
  color: #434343

.copyright-link
  font-size: rem(14)
  font-family: $lato-regular
  line-height: lh(16, 14)
  color: #f0626e