include mixin/main

div.navigation-holder

    +navigation([
        [{
            title: 'Art',
            mod: ''
        }],
        [{
            title: 'Home & Living',
            mod: '#'
        }],
        [{
            title: 'Jewelry',
            mod: '#'
        }],
        [{
            title: 'Women',
            mod: '#'
        }],
        [{
            title: 'Men',
            mod: '#'
        }],
        [{
            title: 'Kids',
            mod: '#'
        }],
        [{
            title: 'Vintage',
            mod: '#'
        }],
        [{
            title: 'Weddings',
            mod: '#'
        }],
        [{
            title: 'More',
            mod: '#'
        }]
    ])
