include mixin/main

div.navigation-holder

    +navigation([
        [{
            title: 'Art'
        }],
        [{
            title: 'Home & Living'
        }],
        [{
            title: 'Jewelry'
        }],
        [{
            title: 'Women'
        }],
        [{
            title: 'Men'
        }],
        [{
            title: 'Kids'
        }],
        [{
            title: 'Vintage'
        }],
        [{
            title: 'Weddings'
        }],
        [{
            title: 'More'
        }]
    ])
