<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles-->
  <link rel="stylesheet" href="css/manifest.css" type="text/css"><!-- inject:css -->
<!-- endinject -->
</head>
<body>
  <div class="wrapper">
    <div class="fix">
      <header class="header">
        <div class="header-logo-holder"><img class="header-logo" src="../images/blocks/logo.png"></div>
        <div class="header-actions-holder">
                <!-- BLOCK START-->
                <ul class="header-action-list">
                  <li class="header-action-item"><a class="header-action-link" href="#">Sell</a></li>
                  <li class="header-action-item"><a class="header-action-link" href="#">Registry</a></li>
                  <li class="header-action-item"><a class="header-action-link" href="#">Community</a></li>
                  <li class="header-action-item"><a class="header-action-link" href="#">Blogs</a></li>
                  <li class="header-action-item"><a class="header-action-link" href="#">Mobile</a></li>
                  <li class="header-action-item"><a class="header-action-link" href="#">Gift card</a></li>
                </ul>
                <!-- BLOCK END-->
                <!-- BLOCK START-->
                <ul class="header-button-list">
                  <li class="header-button-item"><a class="header-button-link" href="#">Register</a></li>
                  <li class="header-button-item"><a class="header-button-link" href="#">Sign in</a></li>
                  <li class="header-button-item"><a class="header-button-link" href="#">Whishlist</a></li>
                  <li class="header-button-item"><a class="header-button-link" href="#">Cart</a></li>
                </ul>
                <!-- BLOCK END-->
        </div>
      </header>
      <footer class="footer-holder">
        <div class="footer">
          <div class="footer-block">
            <div class="footer-box"><span class="footer-box-title">shopping with us</span>
              <ul class="footer-list">
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">why shop with us?</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">how it works</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">delivery</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">returns</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">where's my order</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">contact &amp; help</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">wedding list</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">wish lists</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">gift vouchers</a></li>
              </ul>
            </div>
            <div class="footer-box"><span class="footer-box-title">about us</span>
              <ul class="footer-list">
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">our story</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">customer contact</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">awards</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">press centre</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">work with us</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">terms &amp; conditions</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">privacy &amp; cookies</a></li>
              </ul>
            </div>
            <div class="footer-box"><span class="footer-box-title">selling with us</span>
              <ul class="footer-list">
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">why join?</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">faqs</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">apply to sell with us</a></li>
                      <li class="footer-item"><a class="footer-link" href="#{item[0].href}">affiliates</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-block mod-social"><span class="footer-box-title">Signup newsletter</span>
            <div class="footer-info">
              <div class="footer-domain">e.g.: abc@domain.com</div>
              <button class="button button-blue button-subsribe">Subscribe now</button>
            </div>
            <div class="footer-social"><span class="footer-social-title">Keep in touch</span>
              <ul class="footer-social-list">
                <li class="footer-social-item"><a class="footer-social-link mod-rss" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-facebook" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-tweeter" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-flickr" href="#"></a></li>
                <li class="footer-social-item"><a class="footer-social-link mod-google" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <div class="content-sep"></div>
      <div class="copyright">
        <div class="copyright-box"><span class="copyright-text">Copyright © 2014 Gift Shop,  All right reserved</span></div>
        <div class="copyright-box"><span class="copyright-text">Designed by</span><span class="copyright-link">Amysxain</span></div>
      </div>
      <div class="content-sep"></div>
    </div>
  </div>
  <script src="js/vendor.js"></script>
  <script src="js/application.js"></script>
  <script src="js/fonts.js"></script><!-- inject:js -->
<!-- endinject -->
</body>