include ../badge/mixin/data

div.category-list-holder

  ul.category-list.js-category-list
    li.category-item
      a.category-link
        span.category-img-holder
          img.category-img(src="http://placehold.it/370x200")
        +badge-data('mod-center', 'mod-bg', 'Baby Shop', '99')

    li.category-item
      a.category-link
        span.category-img-holder
          img.category-img(src="http://placehold.it/370x200")
        +badge-data('mod-center', 'mod-bg', 'Baby Shop', '99')

    li.category-item
      a.category-link
        span.category-img-holder
          img.category-img(src="http://placehold.it/370x200")
        +badge-data('mod-center', 'mod-bg', 'Baby Shop', '99')

    li.category-item
      a.category-link
        span.category-img-holder
          img.category-img(src="http://placehold.it/370x200")
        +badge-data('mod-center', 'mod-bg', 'Baby Shop', '99')

    li.category-item
      a.category-link
        span.category-img-holder
          img.category-img(src="http://placehold.it/370x200")
        +badge-data('mod-center', 'mod-bg', 'Baby Shop', '99')