.badge-data
  position: absolute
  bottom: 0
  right: 0
  z-index: 2
  display: flex

  &.mod-bottom
    bottom: 27px

  &.mod-center
    top: 50%
    left: 50%
    bottom: auto
    right: auto
    transform: translateY(-50%) translateX(-50%)

.badge-data-title
  display: block
  padding: 10px 47px
  font-size: rem(20)
  font-family: $lato-regular
  color: rgb(255, 255, 255)
  text-transform: uppercase
  background: rgba(54, 42, 79, .8)
  box-sizing: border-box

  &.mod-bg
    padding: 17px 22px 17px 19px
    font-size: rem(16)
    line-height: lh(18, 16)
    color: #fff
    background: #05aecc


.badge-data-ico-item
  position: relative
  display: block
  width: 55px
  height: 55px

  &:hover

    .badge-data-ico-tooltip-holder
      opacity: 1
      visibility: visible


  &.mod-gift
    background: #00a1be

  &.mod-cart
    background: #f0626e


.badge-data-ico
  position: absolute
  top: 50%
  left: 50%
  transform: translateY(-50%) translateX(-50%)
  display: block
  width: 25px
  height: 25px

  &:after
    position: relative
    display: block
    content: ''

  &.mod-gift
    +sprite(agent_fb)

  &.mod-cart
    +sprite(agent_fb)


.badge-data-price-holder
  display: block
  padding: 15px 10px
  background: rgb(67, 67, 67)
  opacity: .9

.badge-data-currency
  font-size: rem(16)
  font-family: $lato-regular
  line-height: lh(18, 16)
  color: #fff

.badge-data-price
  font-size: rem(22)
  font-family: $lato-regular
  line-height: 1
  color: #fff

  sup
    font-size: rem(16)
    font-family: $lato-regular
    line-height: lh(18, 16)
